<div class="container bg_white p-5">

  <div class="row">
  	<div class="col-12">
  	  <h1>Editing Sponsor</h1>

	  <%= render 'form', sponsor: @sponsor %>

	  <%= link_to 'Show', @sponsor , class: "btn btn-dark" %> |
	  <%= link_to 'Back', sponsors_path , class: "btn btn-dark" %>
  	</div>
  </div>

</div>