<div class="container bg_white p-5">

  <div clas="row">
    <form>
       <div class="mb-3">
        <label for="exampleInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInput">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="floatingTextarea">Comments</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>

</div>