body {background-image: url(/assets/flag.png);
background-repeat: no-repeat;
background-size: 100% 100%;}

.navbar {
	background-color: black;
}

#logo {
	height: 100px;
	width: 100px;
}

.bg_white{
	background-color: white;
}

.bg_black{
	background-color: black;
}

.text_white{
	color: white;
}